{% extends "baseTemplate.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block styles %} 
{% endblock %}
{% block content %}

<div class="main-content-inner">
	<div class="row">
		<!-- table primary start -->
		<div class="col-lg-12 mt-5">
			<div class="card">
				
				<div class="card-body">
					<div class="table-title">
						<div class="row">
							<div class="col-sm-5">
								<h4 style="margin-top: 15px;">
									<b>{{ title }}</b>
								</h4>
							</div>
							<div class="col-sm-7">
								<a href="{% url 'appbase:createclient' %}" class="btn btn-primary" style="float: right;">Créer un client<i class="fa fa-plus-circle" aria-hidden="true" style="margin-left: 5px;"></i></a>
							</div>
						</div>
					</div>
					
					<div class="single-table">
						<div class="table-responsive">
							<table class="table text-center" style="font-family: 'Poppins', sans-serif;text-transform: capitalize;">
								<thead class="text-uppercase bg-primary">
									<tr class="text-white">
										<th scope="col">ID</th>
										<th scope="col">Photo</th>
										<th scope="col">Code</th>
										<th scope="col">Nom</th>
										<th scope="col">Prenom</th>
										<th scope="col">Civilité</th>
										<th scope="col">Nationalité</th>
										<th scope="col" colspan=2>Actions</th>
										
									</tr>
								</thead>
								<tbody>
									{% for client in clients %}
										<tr style="border-right: 2px solid lightgray;border-bottom: 1px solid lightgray;">
											<th scope="row" style="vertical-align: middle;border-right: 1px solid lightgray;border-left: 1px solid lightgray;">{{ forloop.counter }}</th>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;">
												{% if client.photo.url %}
												<img class="avatar user-thumb" src="{{ client.photo.url }}" style="height: 80px;border-radius: 50%;">
												{% else %}
												<img class="avatar user-thumb" src="{% static 'appbase/images/author/avatar.png' %}" alt="avatar" style="height: 80px;border-radius: 50%;">
												{% endif %}
											</td>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;">{{ client.code }}</td>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;">{{ client.nom }}</td>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;">{{ client.prenom }}</td>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;">
												{% if client.Profil == "M" %}
													Monsieur
												{% elif client.Profil == "F" %}
													Madame
												{% elif client.Profil == "N" %}
													Madame
												{% else %}
													-
												{% endif %}
											</td>
											<td style="vertical-align: middle;border-left: 1px solid lightgray;">{{ client.nationalite }}</td>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;"><a href="#" class="text-info"><i class="fa fa-edit"></i></a></td>
											<td style="vertical-align: middle;border-right: 1px solid lightgray;"><a href="#" class="text-danger"><i class="ti-trash"></i></a></td>
											
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div>
							<div style="margin-top: 18px;float: left;">
								Page {{ clients.number }} sur {{ clients.paginator.num_pages }}.
							</div>
                            <div style="margin-top: 10px;float: right;border: 1px solid #007BFF;border-radius: 3%;">
								
                                <nav aria-label="...">
                                    <ul class="pagination pg-color-border">
											{% if clients.has_previous %}
												<li class="page-item">
													<a class="page-link" href="{% url 'appbase:clientslist' page=1 %}">1</a>
												</li>
												{% if clients.previous_page_number != 1 %}
													<li class="page-item">
														<a class="page-link" href="{% url 'appbase:clientslist' page=clients.previous_page_number  %}">Précedent</a>
													</li>
												{% endif %}
											{% endif %}
												<span style="background-color: #007bff;">
													<li class="page-item" active>
														<a class="page-link" href="{% url 'appbase:clientslist' page=clients.number  %}">{{clients.number}}</a>
													</li>
												</span>
											{% if clients.has_next  %}
												{% if clients.next_page_number != clients.paginator.num_pages %}
													<li class="page-item">
														<a class="page-link" href="{% url 'appbase:clientslist' page=clients.next_page_number %}">Suivant</a>
													</li>
												{% endif %}
												<li class="page-item">
													<a class="page-link" href="{% url 'appbase:clientslist' page=clients.paginator.num_pages %}">Fin &raquo;</a>
												</li>
											{% endif %}
                                    </ul>
                                </nav>
                            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}